<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <app-image pathImage="assets/svg/logo.svg"
                     title="Menu"
                     aria-label="Menu"
                     imageClass="img-fluid"
                     [width]="50"
                     [height]="30"></app-image>
          <h1 class="ms-2 mb-0 h4">
            WNews.
          </h1>
        </div>
      </div>
    </nav>
  </div>
</header>
