// Name colors
$gallery: #EEEEEE;
$java: #25C7AA;
$pastel-green: #43df44;
$heliotrope: #925afc;
$shark: #19191a;
$eclipse: #1B1B1D;

$primary: $eclipse;
$secondary: $heliotrope;
$success: $pastel-green;
$info: $java;
$light: $gallery;
$dark: $shark;
