// Name colors
$gallery: #EEEEEE;
$java: #25C7AA;
$spindie: #5A5EFC;
$mine-shaft: #323131;
$snark: #1B1B1D;

$primary: $mine-shaft;
$secondary: $snark;
$success: $java;
$info: $spindie;
$light: $gallery;
