// Name colors
$gallery: #EEEEEE;
$java: #25C7AA;
$heliotrope: #925afc;
$shark: #19191a;
$snark: #1B1B1D;

$primary: $shark;
$secondary: $snark;
$success: $java;
$info: $heliotrope;
$light: $gallery;
