// Name colors
$woodsmoke: #101015;
$snark: #1B1B1D;
$spindie: #BBD7EB;
$akaroa: #D4CBA8;
$shaksyon: #0e0e13;

$primary: $woodsmoke;
$secondary: $snark;
$info: $spindie;
$warning: $akaroa;
$dark: $shaksyon;
