<main>
  <section class="block-spacer-y">
    <div class="container">
      <div class="row align-items-lg-center justify-content-center">
        <div class="col-lg-auto">
          <img src="assets/svg/logo.svg"
               class="my-4 img-fluid"
               alt=""
               title=""
               loading="lazy"
               decoding="async"
               width="300"
               height="300">
          <h1 class="teste fw-bolder">
            Weather news.
          </h1>
          <p class="mb-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry!
          </p>
          <button class="btn btn-info"
                  (click)="getLocalizaionClientLatAndAlt()">Enable Localization
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
