@import "frontend/breakpoint-dependencies";

.board {

  min-height: 100vh;

  &-manager {

    background: url("/assets/images/shape-decorator.png");
    background-size: cover;
    border-radius: 0 0 50px 50px;
    padding: 2rem 1.25rem 3rem 1.25rem;

    @include media-breakpoint-up(lg) {

      background: url("/assets/images/shape-decorator-lg.jpg");
      background-size: cover;
      padding: 2rem;
      height: 100vh;
      display: flex;
      align-items: center;
      border-radius: 0 50px 50px 0;
    }
  }
}
