<main class="overflow-hidden">
  <div>
    <div class="row">
      <div class="col-lg-5">
        <section class="block-spacer-y board-manager">
          <div class="container">
            <div class="row align-items-lg-center justify-content-center">
              <div class="col-lg-auto">
                <app-image imageClass="mb-2 mb-lg-4 d-none d-lg-block img-fluid"
                           [pathImage]="'assets/svg/logo.svg'"
                           [width]="242"
                           [height]="140">
                </app-image>
                <h1 class="lh-0 fw-bolder">
                  Weather
                  <br>
                  news.
                </h1>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry!
                </p>
                <button class="btn btn-success text-white w-100"
                        title="Get Weather News"
                        type="button"
                        (click)="getLocalizaionClientLatAndAlt()">
                  Get Weather News
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
